@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background: hsla(254, 68%, 9%, 1);
    background: linear-gradient(
        90deg,
        hsla(254, 68%, 9%, 1) 0%,
        hsla(269, 97%, 37%, 1) 33%,
        hsla(320, 77%, 55%, 1) 66%,
        hsla(316, 41%, 93%, 1) 100%
    );
    background-size: 200%;
    background-position: 0% 0%;
    height: 200vh;
    will-change: transform;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 1.25rem 0 1.25rem;
    position: relative;
    transition: 100ms;

    & h1 {
        font-size: 2.5rem;
        color: #fff;
    }

    @media screen and (min-width: 43.75rem) {
        & h1 {
            font-size: 3.75rem;
        }
    }

    @media screen and (min-width: 75rem) {
        & h1 {
            font-size: 6.25rem;
        }
    }

    & p {
        margin-top: 1.25rem;
        font-size: 1.563rem;
        color: #fff;
        font-weight: 500;
        text-align: center;
    }

    @media screen and (min-width: 43.75rem) {
        & p {
            font-size: 1.875rem;
            padding: 0 3.125rem 0 3.125rem;
        }
    }

    @media screen and (min-width: 75rem) {
        & p {
            font-size: 2.5rem;
            padding: 0 20.625rem 0 20.625rem;
        }
    }

    & box-icon {
        margin-top: 10px;
    }

    & a {
        position: fixed;
        text-decoration: none;
        color: #fff;
        bottom: 2rem;
    }

    @media screen and (min-width: 43.75rem) {
        & a {
            right: 2rem;
            font-size: 1.25rem;
        }
    }

    @media screen and (min-width: 75rem) {
        & a {
            font-size: 1.5rem;
        }
    }
}

.container-2 {
    position: relative;
    height: 100vh;
    z-index: 2;
    display: grid;
    place-items: center;

    & ul {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 43.75rem) {
        & ul {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
    }

    @media screen and (min-width: 75rem) {
        & ul {
            flex-direction: row;
            gap: 3.75rem;
        }
    }

    & li {
        margin-top: 2.5rem;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    & a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    & a:hover img {
        transform: scale(1.1);
    }

    & img {
        width: 11.25rem;
        border-radius: 1.25rem;
        background-color: rgba(255, 255, 255, 0.2);
        max-height: 11.25rem;
    }

    @media screen and (min-width: 43.75rem) {
        & img {
            width: 13.625rem;
            max-height: 13.625rem;
        }
    }

    @media screen and (min-width: 75rem) {
        & img {
            width: 21.875rem;
            max-height: 21.875rem;
        }
    }

    & strong {
        margin-top: 10px;
        color: #103783;
        font-size: 1.25rem;
        font-weight: 700;
    }

    @media screen and (min-width: 75rem) {
        & strong {
            font-size: 2.5rem;
        }
    }
}
